<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
    <!--ParameterControl Connection-->
    <!--SQLServer-->
    <add name="Sensata.MES.Integration.ST.DataConnection.Properties.Settings.SQLServer_ParameterControl" connectionString="Data Source=sanpsql10;Initial Catalog=RDB_SEL060011D;Persist Security Info=True;User ID=client_read;Password=uhcfsJNw1TChfrpMI/aHNQ=="/>
    <!--ODBC-->
    <add name="Sensata.MES.Integration.ST.DataConnection.Properties.Settings.ODBC_ParameterControl" connectionString="Dsn=RDB_SEL060011D;uid=client_read;pwd=uhcfsJNw1TChfrpMI/aHNQ=="/>
    <!--Central Connection-->
    <!--SQLServer-->
    <add name="Sensata.MES.Integration.ST.DataConnection.Properties.Settings.SQLServer_Central" connectionString="Data Source=sanpsql10;Initial Catalog=RDB_SEL010020D;Persist Security Info=True;User ID=sysdevteam;Password=/wrevGtNML2RBcm4Bq4ZHg=="/>
    <!--ODBC-->
    <add name="Sensata.MES.Integration.ST.DataConnection.Properties.Settings.ODBC_Central" connectionString="Dsn=CentralConnection;uid=client_write;pwd=rIVsWRx9yKpP6WC6qste2g=="/>
    <!--Local Connection-->
    <!--SQLServer-->
    <add name="Sensata.MES.Integration.ST.DataConnection.Properties.Settings.SQLServer_Local" connectionString="Data Source=.\;Initial Catalog=SEL_Applications;Persist Security Info=True;User ID=client_write;Password=rIVsWRx9yKpP6WC6qste2g=="/>
    <!--ODBC-->
    <add name="Sensata.MES.Integration.ST.DataConnection.Properties.Settings.ODBC_Local" connectionString="Dsn=LocalConnection;uid=client_write;pwd=rIVsWRx9yKpP6WC6qste2g=="/>
    <!--BoundarySample Connection-->
    <!--SQLServer-->
    <add name="Sensata.MES.Integration.ST.DataConnection.Properties.Settings.SQLServer_BoundarySample" connectionString="Data Source=sanpsql10;Initial Catalog=RDB_SEL010025D;Persist Security Info=True;User ID=client_write;Password=rIVsWRx9yKpP6WC6qste2g=="/>
    <!--ODBC-->
    <add name="Sensata.MES.Integration.ST.DataConnection.Properties.Settings.ODBC_BoundarySample" connectionString="Dsn=BoundarySampleSystem;uid=client_write;pwd=rIVsWRx9yKpP6WC6qste2g=="/>
    <!--MachineData Connection-->
    <!--SQLServer-->
    <add name="Sensata.MES.Integration.ST.DataConnection.Properties.Settings.SQLServer_Machine" connectionString="Data Source=.\;Initial Catalog=IPTE_Schrader_Corax;Persist Security Info=True;User ID=client_write;Password=rIVsWRx9yKpP6WC6qste2g=="/>
    <!--ODBC-->
    <add name="Sensata.MES.Integration.ST.DataConnection.Properties.Settings.ODBC_Machine" connectionString="Dsn=MachineDataConnection;uid=client_write;pwd=rIVsWRx9yKpP6WC6qste2g=="/>
    <!--Universal Connection-->
    <!--SQLServer-->
    <add name="Sensata.MES.Integration.ST.DataConnection.Properties.Settings.SQLServer_Universal" connectionString="Data Source=selcdev10;Initial Catalog=RDB_SEL040020D;Persist Security Info=True;User ID=client_write;Password=rIVsWRx9yKpP6WC6qste2g=="/>
    <!--ODBC-->
    <add name="Sensata.MES.Integration.ST.DataConnection.Properties.Settings.ODBC_Universal" connectionString="Dsn=RDB_SEL040020D;uid=client_write;pwd=rIVsWRx9yKpP6WC6qste2g=="/>
    <!--SystemMonitor Connection-->
    <!--SQLServer-->
    <add name="Sensata.MES.Integration.ST.DataConnection.Properties.Settings.SQLServer_SystemMonitor" connectionString="Data Source=sanpsql10;Initial Catalog=RDB_SEL020004D;Persist Security Info=True;User ID=client_write;Password=rIVsWRx9yKpP6WC6qste2g=="/>
    <!--ODBC-->
    <add name="Sensata.MES.Integration.ST.DataConnection.Properties.Settings.ODBC_SystemMonitor" connectionString="Dsn=RDB_SEL020004D;uid=client_write;pwd=rIVsWRx9yKpP6WC6qste2g=="/>
    <!--ProductionSupport Connection-->
    <!--SQLServer-->
    <add name="Sensata.MES.Integration.ST.DataConnection.Properties.Settings.SQLServer_ProductionSupport" connectionString="Data Source=SELADEV10;Initial Catalog=RDB_SEL010025D;User ID=client_write;Password=rIVsWRx9yKpP6WC6qste2g=="/>
    <!--ODBC-->
    <add name="Sensata.MES.Integration.ST.DataConnection.Properties.Settings.ODBC_ProductionSupport" connectionString="Dsn=RDB_SEL010025D;uid=client_write;pwd=rIVsWRx9yKpP6WC6qste2g=="/>
    <!--ODBC-->
    <add name="Sensata.MES.Integration.ST.DataConnection.Properties.Settings.ODBC_FlexLocalRead" connectionString="Dsn=Local_TestData;uid=LocalDB_Read;pwd=9I2SzoThlRT5VimhvEgyeg=="/>
    <!--ODBC-->
    <add name="Sensata.MES.Integration.ST.DataConnection.Properties.Settings.ODBC_FlexLocalWrite" connectionString="Dsn=Local_TestData;uid=LocalDB_Write;pwd=4Y09aB-OheFzGkYxCKTO9w=="/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
